@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farro&family=Oswald&display=swap');

.banner{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 25px;
	background-color: #AFDCEC;
	margin-bottom: 20px;
}

.banner h1{
	font-family: "Oswald";
	font-size: 60px;
	color: #1F45FC;
	line-height: 55px;
}

.banner p{
	font-family: "Farro";
	font-size: 12px;
	color: #08E8DE;
	line-height: 35px;
}

.p5{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}